<div class="container-fiuld col-md-6 col-md-offset-3">
	<div class="panel panel-defualt">
		<div class="panel-body">
			<h1>Log In</h1>

			<%= form_for(:session, url: login_path) do |f| %>
				<%= f.label :username %>
				<%= f.text_field :username, autofocus: true, class: "form-control" %>

				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>

				<%= f.label :remember_me do %>
					<br />
					<%= f.check_box :remember_me %>
					<span>Remember me on this computer</span>
				<% end %>
				<br />
				<%= f.submit "Log in", class: "btn btn-default" %>
			<% end %>
			<%= link_to "Forgot Password", new_password_resets_url, class: "btn btn-default" %>
		</div>
	</div>
</div>
