<% provide(:title, @user.username) %>
<div class="row">
	<aside class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<section class="user_info">
					<h2>	
						<%# gravatar_for @user %>
						<%= @user.username %>
					</h2>
				</section>
				<section class="stats">
					<%= render 'shared/stats' %>
				</section>
				<section class="user_info">
						<%= render 'shared/user_info' %>
				</section>
			</div>
		</div>
	</aside>
	<% if logged_in? %>
			<div class="col-md-8 panel-defualt">
				<div class="panel-body">
					<%= render 'shared/micropost_form' %>
					<%= render 'shared/feed' %>
				</div>
			</div>
		</div>
	<% end %>
</div>

