<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body">  
		    <section class="user_info">
		      <h1>
		        <%= link_to "https://en.gravatar.com" do %> 
		        	<%= gravatar_for @user %>
		        <% end %>
		        <%= truncate(@user.username, length: 15) %>
		      </h1>
		      <p>Joined <%= @user.created_at.strftime("%b %Y %a") %></p>
		    </section>
		    <section class="stats">
		      <%= render 'shared/stats' %>
		      <%= render 'follow_form' if logged_in? %>
		      <br />
		      <% if @users.any? %>
					<div class="user_avatars">
						<% @users.each do |user| %>
							<button type="button", class="btn btn-default show_button", date-toggle="tooltip", data-placement="left" title="<%= user.username %>">
								<%= link_to gravatar_for(user, size: 30), user %>
							</button>
						<% end %>
					</div>
				<% end %>
		    </section>
		</div>
	</div>
  </aside>
  <div class="col-md-8">
  	<div>
  		<div class="panel-body">
  			<%= render 'shared/micropost_form' %>
		    <%= render 'shared/feed' %>
		</div>
	</div>
  </div>
</div>

