<% provide(:title, @user.username) %>
<div class="row">
	<aside class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<section class="user_info">
					<h2>	
						<%= gravatar_for @user %>
						<%= @user.username %>
					</h2>
				</section>
				<section class="stats">
					<%= render 'shared/stats' %>
				</section>
				<section class="user_info">
					<%= render 'shared/user_info' %>
				</section>
				<section>
					<%= render 'follow_form' %>
				</section>
			</div>
		</div>
	</aside>
	<% if logged_in? %>
			<div class="col-md-8">
				<% if current_user %>
					<%= render 'shared/micropost_form' if logged_in? %>
				<% end %>
				<% if @user.microposts.empty? %>
					<h3>Why Not Start Posting?</h3>
				<% else %>
						<%= render 'shared/feed' %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>


